@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: rgb(180, 180, 180);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    width: 280px;
    height: 380px;
    background: #040404;
    box-shadow: 0 15px 18px rgba(138, 137, 137, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    z-index: -1;
    font-size: 1.3rem;
}

.profile-pic {
    width: 100px;
    height: 100px;
    background: url(../IMAGES/brisa-copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid #fff;
}

.layer {
    position: absolute;
    top: 21%;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: .4s ease;
    z-index: -1;
    overflow: hidden;
}

.details {
    text-align: center;
    color: #fff;
    transition: .4s ease;
}

.skills {
    font-size: 1.5rem;
}

.skills i {
    margin: 0 .3rem;
    transition: .4s ease;
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3 {
    color: #0098ff;
}

.fa-js {
    color: #f0db4f;
}

.fa-react {
    color: #61dafb;
}

.fa-angular {
    color: #dd1b1b;
}

.btn a {
    display: block;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 35px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    letter-spacing: 2px;
    transition: .4s ease;
}

.btn a {
    outline: none;
    background: #3a3a3a;
    color: #fff;
}

.btn a:hover {
    opacity: 0.8;
}

.container:hover .layer {
    height: 100%;
}

.container:hover .details {
    color: #040404;
}

.container:hover .btn a {
    border-color: #040404;
    color: #fff;
}

.container:hover .skills i {
    opacity: 1;
}